.uv-tab-content_item:not(.uv-tab-active) { display: none; }

.uv-tab-active { display: block; }

.uv-tab-hidden { display: none; }

html { padding: 24px; }

html * { color: #fff; font-family: arial; font-size: 24px; }

.uv-tab-btn { padding: 16px 24px; background: #000; border-radius: 5px; }

.uv-tab-content_item img { max-height: 500px; }
