// $uv-burger-color: #888; // - Параметр определяющий цвет кнопки меню-бургера.
// $uv-burger-menu-openFrom: -100%; // - Параметр определяющий с какой стороны появится меню-бургер. Принимает следующие параметры - **< -100% | 100% >**
// $uv-burger-btn-showBreakpoint: 100vw; // - Параметр определяющий при каком разрешении экрана будет появлятся меню-бургер.
// $uv-burger-btn-menuX: 24px; // - Параметр определяющий горизонтальное положение кнопки бургер-меню в бургер-меню.
// $uv-burger-btn-menuY: 24px; // - Параметр определяющий вертикальное положение кнопки бургер-меню в бургер-меню.

.uv {
    &-burger {
        &-btn {
            z-index: 999;
            display: none;
            width: 30px;
            height: 18px;
            cursor: pointer;
            position: relative;

            span,
            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                height: 2px;
                width: 100%;
                transition: .3s ease-in-out;
                background-color: $uv-burger-color;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                top: 50%;
                transform: scale(1) translate(0, -50%);
            }

            &-transition {
                span {
                    transform: scale(0) translate(0, -50%);
                }

                &::before {
                    top: 50%;
                    transform: rotate(-45deg) translate(0, -50%);
                    background-color: $uv-burger-color;
                }

                &::after {
                    bottom: 50%;
                    transform: rotate(45deg) translate(0, 50%);
                    background-color: $uv-burger-color;
                }
            }
        }

        &-menu {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;

            transition: all .3s ease-in-out;
            transform: translate($uv-burger-menu-openFrom, 0);

            &-opened {
                transform: translate(0, 0);
            }

            &-wrapper {
                max-width: 320px;
                min-height: 100%;
                margin: 0 auto;
                padding: 16px;
                display: flex;
                flex-direction: column;
            }

            .uv-burger-btn {
                position: absolute;
                top: $uv-burger-btn-menuY;
                right: $uv-burger-btn-menuX;
            }
        }

        &-body {
            &-locked {
                overflow: hidden;
            }
        }
    }
}

@media screen and (max-width: $uv-burger-btn-showBreakpoint) {
    .uv {
        &-burger {
            &-btn {
                display: block;
            }
        }
    }
}