$brandGreen: #8CC63F;
$brandDarkGreen: #2F4F3C;
$white: #FFFFFF;

.uv {
    &-popup {
        &_content {
            max-width: 600px;
            width: 100%;
            min-width: 300px;
        }
    }
}

.text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    transition: .3s ease-in-out all;

    &-hero {
        font-family: 'Orelega One';
        font-style: normal;
        font-weight: 400;
        font-size: 69px;
        line-height: 75px;
        letter-spacing: 0.02em;
        color: $brandGreen;
    }

    &-heading {
        letter-spacing: 0.02em;
        font-family: 'Orelega One';
        font-style: normal;
        font-weight: 400;

        &_1 {
            font-size: 48px;
            line-height: 52px;
            color: $brandDarkGreen;
        }

        &_2 {
            font-size: 26px;
            line-height: 28px;
            color: $brandDarkGreen;
        }

        &_3 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.02em;
            color: $white;
        }
    }

    &-copyright {
        padding: 24px 0;

        * {
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #000000;
        }

        a {
            color: #6C72CB;
            text-align: center;
        }
    }
}