// === Wrapper
$wrapper-maxWidth: 1170px; // Параметр определяющий максимальную ширину wrapper-контейнера
$wrapper-minWidth: 320px; // Параметр определяющий минимальную ширину wrapper-контейнера
$wrapper-padding: 24px; // Параметр определяющий отступ wrapper`а от края ниже ширины $wrapper-maxWidth 

//! == UV
// == Cards-container
$uv-card-margin: 24px; // - Параметр отвечающий за отступ карточек.
$uv-card-minWidth: 260px; // - Параметр отвечающий за минимальную ширину карточки.
$uv-card-textAlign: left; // - Параметр отвечающий за позиционирование текста в карточках. Значения - **center right left**

// == Burger-menu
$uv-burger-color: #F16214; // - Параметр определяющий цвет кнопки меню-бургера.
$uv-burger-menu-openFrom: -100%; // - Параметр определяющий с какой стороны появится меню-бургер. Принимает следующие параметры - **> -100% | 100% <**
$uv-burger-btn-showBreakpoint: 728px; // - Параметр определяющий при каком разрешении экрана будет появлятся меню-бургер.
$uv-burger-btn-menuX: $wrapper-padding; // - Параметр определяющий горизонтальное положение кнопки бургер-меню в бургер-меню.
$uv-burger-btn-menuY: 13px; // - Параметр определяющий вертикальное положение кнопки бургер-меню в бургер-меню.





.wrapper {
    max-width: $wrapper-maxWidth;
    min-width: calc(#{$wrapper-minWidth} - calc(#{$wrapper-padding} * 2));
    padding: 0 $wrapper-padding;
    margin: 0 auto;
    height: auto;
}