@media screen and (max-width: 1260px) {
    .header {
        &-body {
            &-sushi {
                opacity: .4;
            }
        }
    }

    .s-4 {
        .uv-card-container-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width:1110px) {
    .s-1 {
        .uv-card {
            &:nth-child(2) {
                border-right: none;
            }
        }
    }

    .s-2 {
        &-mainPic {
            opacity: .5;
        }

        .wrapper {
            margin-left: 30%;
        }
    }

    .footer {
        &-t {
            .uv-card {
                &:nth-child(4) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .r-input {
                        width: 270px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .s-4 {
        .uv-card-container-grid {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 760px) {
    .s-1 {
        .uv-card {
            &:nth-child(2) {
                border: none;
            }
        }
    }

    .footer {
        &-t {
            .uv-card:nth-child(1) {
                .text-light {
                    text-align: center;
                }
            }
            
            .uv-card,
            .uv-card:nth-child(4) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 728px) {
    .header {
        &-menu {

            &-nav,
            .r-btn {
                display: none;
            }
        }
    }

    .uv-burger-menu {
        z-index: 900;
    }

    .s-2 {
        .wrapper {
            margin-left: 0;
        }
    }

    .s-5 {
        &-block {
            text-align: center;

            &-downloadApp {
                display: flex;
                flex-direction: column;
                align-items: center;

                svg:nth-child(1) {
                    margin-bottom: 8px;
                }
            }
        }
    }

    .s-7 {
        &-block {
            &-wrapper {
                max-width: 320px;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .s-7 {
        &-block {
            &-wrapper {
                max-width: none;
                padding: 0 22px;

                &-input {
                    button {
                        position: relative;
                        top: 0;
                        right: 0;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}