@import '_fonts';
@import '_variables';

.text {
    font-family: 'productsans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $c-dark;
    transition: .2s ease-in-out color, font-weight;

    &-light {
        color: $c-gs8;
        line-height: 24px;
    }

    &-white {
        color: $c-white;
    }

    &-hero {
        font-size: 75px;
        font-weight: 700;
        color: $c-white;
        margin-bottom: 16px;
        max-width: 480px;
    }

    &-heading {
        span {
            font-size: 14px;
            font-weight: 700;
            color: $c-orange;
            margin-bottom: 8px;
            letter-spacing: .8px;
        }

        h2 {
            font-size: 40px;
            font-weight: 700;
        }
    }

    &-title {
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
    }

    &-bold {
        font-weight: 700;
        letter-spacing: .8px;
    }
}

.r {
    &-btn {
        background-color: $c-orange;
        border-radius: 120px;
        padding: 8px 16px;
        transition: .3s ease-in-out background-color;

        &-large {
            padding: 14px 0 14px 16px;
            transition: .5s ease-in-out width;
            width: 124px;
            height: 50px;
            display: flex;
            align-items: center;
            position: relative;

            svg {
                transition: .5s ease-in-out;
                width: 40px;
                height: 40px;
                background-color: $c-white;
                border-radius: 120px;
                padding: 14px 16px;
                position: absolute;
                transform: translateX(32px);
                opacity: 0;

                path {
                    fill: $c-orange;
                }
            }

            &:hover {
                width: 170px;

                svg {
                    transform: translateX(106px);
                    opacity: 1;
                }
            }
        }

        &:hover {
            background-color: $c-orangeLight;

            .text {
                color: $c-orange;
            }
        }
    }

    &-socials {
        display: flex;
        justify-content: space-between;
        max-width: 230px;

        &_item {
            width: 40px;
            height: 40px;
            background-color: $c-orangeLight;
            border-radius: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s ease-in-out background-color;

            path {
                transition: .2s ease-in-out fill;
                fill: $c-orange;
            }

            &:hover {
                background-color: $c-orange;

                svg {
                    path {
                        fill: $c-white;
                    }
                }
            }
        }
    }

    &-input {
        position: relative;

        input {
            width: 100%;
            height: 60px;
            border-radius: 14px;
            padding-left: 18px;
        }

        input,
        input::placeholder {
            font-family: 'productsans', sans-serif;
            font-size: 14px;
            color: #CCCCCC;
        }

        button {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 14px 22px;
            background-color: $c-orange;
            border-radius: 14px;
            transition: .2s ease-in-out all;

            .text {
                text-transform: uppercase;
            }

            &:hover {
                background-color: $c-orangeLight;
                
                span {
                    color: $c-orange;
                }
            }
        }
    }
}

.anchor {
    position: relative;
    bottom: calc(45px + 100px);
}

#copyright {
    $copy-text-light: #A5AAAF;

    text-align: center;
    font-size: 14px;
    color: $copy-text-light;
    padding: 24px;

    b {
        font-size: 14px;
        color: $copy-text-light;
    }
}

section:not(.s-1) {
    padding: 50px 0;
}

// === header

.header {
    $menu-h: 45px;

    &-menu {
        background-color: #fff;
        z-index: 10;
        height: $menu-h;
        position: fixed;
        width: 100%;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-nav {
            .nav_item {
                padding: 0 8px;

                &:hover {
                    color: $c-orange;
                }
            }
        }
    }

    &-body {
        padding-top: $menu-h;
        background-image: url(../img/black-bg.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: initial;
        position: relative;
        height: auto;
        margin-bottom: 100px;

        .wrapper {
            margin-top: 170px;
        }

        .text {
            &-light {
                margin-bottom: 40px;
                max-width: 570px;
            }
        }

        .r {
            &-btn-large {
                margin-bottom: 40px;
            }

            &-socials {
                padding-bottom: 10px;
            }
        }

        &-sushi {
            position: absolute;
            top: -10%;
            right: -10%;
            transition: .2s ease-in-out opacity;
            opacity: 1;
            z-index: 1;
        }

        *:not(.header-body-sushi) {
            z-index: 5;
        }
    }
}

// === s-1 {

.s-1 {
    margin-bottom: 160px;

    .uv-card {
        &-container-flex {
            background: #FFFFFF;
            box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
            border-radius: 60px 0px;
        }

        padding: 30px 0;

        svg {
            width: 40px;
            height: 40px;
            background-color: $c-orange;
            border-radius: 120px;
            padding: 10px;
            margin-bottom: 16px;

            path {
                fill: $c-white;
            }
        }

        .text:not(.text-light) {
            margin-bottom: 6px;
        }

        &:nth-child(2) {
            border-left: 2px solid #DDDDDD;
            border-right: 2px solid #DDDDDD;
        }
    }
}

// === s-2

.s-2 {
    position: relative;

    &-mainPic {
        position: absolute;
        top: -120px;
        z-index: -1;
        opacity: 1;
        transition: .2s ease-in-out opacity;
    }

    .wrapper {
        margin-left: 60%;
    }

    .text-light {
        margin: 46px 0 24px;
    }
}

// === s-3 

.s-3 {
    .text-heading {
        text-align: center;
        margin-bottom: 60px;
    }

    .uv-card {
        border: 2px solid #EEEEEE;
        border-radius: 60px 0px;
        padding: 70px 20px;
        transition: .2s ease-in-out all;

        svg {
            width: 80px;
            height: 80px;
            background-color: $c-orangeLight;
            padding: 24px;
            border-radius: 120px;
            margin-bottom: 44px;
        }

        .text-title {
            margin-bottom: 22px;
        }

        &:hover {
            background-color: #FFFFFF;
            box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
            border-color: #fff;
        }
    }
}

// === s-4

.s-4 {
    .text-heading {
        margin-bottom: 40px;
        text-align: center;
    }

    .uv-card {
        &-container-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 32px;
            grid-row-gap: 32px;
            justify-items: center;
            margin-bottom: 60px;
        }

        transition: .2s ease-in-out all;
        border: 2px solid #EEEEEE;
        border-radius: 50px 0px;
        padding: 290px 20px 20px;
        max-width: 370px;
        min-width: 370px;
        max-height: 420px;
        min-height: 420px;
        position: relative;

        &:hover {
            background-color: #FFFFFF;
            box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
            border-color: #fff;
        }

        &-image {
            position: absolute;
            top: -2px;
            left: -2px;
        }

        &-descr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        &-t {
            display: flex;
            justify-content: space-between;

            .text {
                font-size: 20px;
            }

            &-rate {
                display: flex;
                align-items: center;

                svg {
                    margin-right: 6px;
                }

                .text {
                    font-size: 12px;
                }
            }
        }

        &-b {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .text {
                font-size: 20px;
            }

            .r-btn-small {
                span {
                    font-size: 14px;
                }
            }
        }
    }

    .r-btn-large {
        margin: 0 auto;
        width: 170px;

        &:hover {
            width: 210px;

            svg {
                transform: translateX(146px);
            }
        }
    }
}

// === s-5

.s-5 {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-block {
        background-image: url(../img/black-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 60px 0;
        padding: 80px 32px;

        h2 {
            font-size: 40px;
            margin-bottom: 50px;
        }

        &-downloadApp svg {
            &:nth-child(1) {
                margin-right: 20px;
            }
        }
    }
}

// === s-6 {

.s-6 {
    .text-heading {
        text-align: center;
    }

    .uv-card {
        &:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-author {
            display: flex;
            align-items: center;
            margin-bottom: 54px;

            img {
                margin-right: 16px;
            }
        }

        .text-light {
            margin-bottom: 34px;
        }

        &-btns {
            button {
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background-color: $c-white;
                border: 2px solid #EEEEEE;

                * {
                    transition: .2s ease-in-out all;
                }


                &:nth-child(1) {
                    margin-right: 30px;
                }

                &:hover {
                    border-color: $c-orange;
                    background-color: $c-orange;

                    svg path {
                        fill: $c-white;
                    }

                    svg line {
                        stroke: $c-white;
                    }
                }
            }
        }
    }
}

// === s-7

.s-7 {
    &-block {
        background-image: url(../img/black-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 60px 0;
        padding: 80px 0;

        &-wrapper {
            max-width: 500px;
            margin: 0 auto;

            h2 {
                font-size: 40px;
                margin-bottom: 16px;
            }

            .text-light {
                margin-bottom: 34px;
            }
        }
    }
}

// === footer

.footer {
    background-color: #F5F5F5;
    padding: 100px 0 32px;

    &-t {
        .uv-card {
            text-align: left;

            .logo-foodBill {
                margin-bottom: 36px;
            }

            .text-title {
                margin-bottom: 36px;
                font-size: 22px;
            }

            &-container {
                justify-content: center;
            }

            &-nav {
                display: flex;
                flex-direction: column;
                
                .nav_item {
                    font-size: 16px;
                    padding: 8px 0;
                    color: $c-gs8;

                    &:hover {
                        color: $c-orange;
                    }
                }
            }

            &:nth-child(1) {
                .text-light {
                    margin-bottom: 32px;
                }

                .r-socials {
                    max-width: none;
                    
                    a {
                        margin: 0 12px;
                    }
                }
            }

            &:nth-child(2) {
                .text-light {
                    padding: 4px;
                }
            }

            &:nth-child(4) {
                display: flex;
                flex-direction: column;
                align-items: center;

                .text-light {
                    padding: 4px;

                    &:nth-child(4) {
                        margin-bottom: 20px;
                    }
                }
                .r-input {
                    width: 270px;
                }
            }
        }
    }

    &-b {
        text-align: center;

        #footer-line {
            width: 100%;
            height: 2px;
            display: block;
            background-color: #DDDDDD;
            margin-bottom: 24px;
        }
    }
}

// === burger 

.uv {
    &-burger {
        &-btn {
            position: absolute;
        }

        &-menu {
            &-wrapper {
                justify-content: space-around;
            }

            &-nav {
                display: flex;
                flex-direction: column;
                align-items: center;

                .nav_item {
                    font-size: 24px;
                    padding: 8px;
                }
            }

            .r-btn-small {
                text-align: center;
            }
        }
    }
}