.uv {
    &-tab {
        &-content {
            &_item {
                &:not(.uv-tab-active) {
                    display: none;
                }
            }
        }

        &-active {
            display: block;
        }

        &-hidden {
            display: none;
        }
    }
}

//! 

html {
    padding: 24px;

    * {
        color: #fff;
        font-family: arial;
        font-size: 24px;
    }
}

.uv {
    &-tab {
        &-btn {
            padding: 16px 24px;
            background: #000;
            border-radius: 5px;
        }

        &-content {
            &_item {
                img {
                    max-height: 500px;
                }
            }
        }
    }
}