@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
html * { font-family: 'Inter', sans-serif; font-size: 16px; font-weight: 400; color: #151519; }

body { overflow-x: hidden !important; }

.wrapper { max-width: 1110px; margin: 0 auto; padding: 0 24px; }

.selectBtn { background-color: #E6F9E6; color: #5DBD6D; padding: 20px 24px; transition: .3s ease-in-out; transition-property: color, background-color; line-height: 0; border-radius: 50px; }

.selectBtn:hover { background-color: #5DBD6D; color: #ffffff; }

.text { line-height: 20px; }

.text-heading { font-size: 30px; line-height: 40px; font-weight: 900; margin-bottom: 50px; }

.text-title { font-weight: 600; }

.sectionMIN { height: auto; padding: 50px 0; display: flex; flex-direction: column; justify-content: center; }

#head-wrapper { max-width: 1200px; padding: 0 16px; margin: 0 auto; }

#header { height: 90px; display: flex; justify-content: space-between; line-height: 90px; margin-bottom: 60px; }

#header-nav .header-nav_link { transition: .3s ease-in-out width; position: relative; }

#header-nav .header-nav_link::before { content: ''; position: absolute; background-color: #FD576C; transition: .3s ease-in-out; height: 2px; width: 0%; top: 20px; bottom: 0; right: 0; }

#header-nav .header-nav_link:hover::before { width: 100%; }

#header-content-block { display: flex; }

#header-content-block .text { margin-bottom: 40px; }

#header-content-block_left { min-width: 350px; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }

#header-content-block_left h1 { font-size: 42px; font-weight: 800; margin-bottom: 22px; }

#header-content-block_right img { width: 100%; height: 100%; min-width: 365px; }

.header_logo { font-size: 18px; color: #5DBD6D !important; font-weight: 700; z-index: 10; }

.header_logo:hover { color: #5DBD6D; }

.header-nav a { margin: 0 20px; font-weight: 600; }

.burgerMenu-container-nav { min-height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; }

.burgerMenu-container-nav_link { font-weight: 600; font-size: 20px; margin: 16px; transition: .3s ease-in-out width; position: relative; }

.burgerMenu-container-nav_link::before { content: ''; position: absolute; background-color: #FD576C; transition: .3s ease-in-out; height: 2px; width: 0%; top: 20px; bottom: 0; right: 0; }

.burgerMenu-container-nav_link:hover::before { width: 100%; }

.burgerMenu-container-nav_link:nth-child(5) { margin-bottom: 32px; }

.burgerMenu-container-nav .selectDietolog { font-size: 20px; }

.bodyLocked { overflow: hidden !important; }

#burgerMenu { display: none; }

#burgerMenu-btn { z-index: 5; display: block; position: absolute; width: 30px; height: 18px; cursor: pointer; top: 34px; right: 16px; }

#burgerMenu-btn span, #burgerMenu-btn::before, #burgerMenu-btn::after { content: ''; position: absolute; left: 0; height: 15%; width: 100%; transition: .3s ease-in-out; background-color: #5DBD6D; }

#burgerMenu-btn::before { top: 0; }

#burgerMenu-btn::after { bottom: 0; }

#burgerMenu-btn span { top: 50%; transform: scale(1) translate(0, -50%); }

#burgerMenu-container { z-index: 4; width: 100vw; height: 100vh; background-color: #fff; position: absolute; top: 0; left: 0; transition: all .3s ease-in-out; transform: translate(-110%, 0); }

.burgerMenu-open #burgerMenu-container { transition: all .3s ease-in-out; transform: translate(0, 0); }

.buttonTransform span { transform: scale(0) translate(0, -50%) !important; }

.buttonTransform::before, .buttonTransform::after { background-color: #5DBD6D !important; }

.buttonTransform::before { top: 50% !important; transform: rotate(-45deg) translate(0, -50%) !important; }

.buttonTransform::after { bottom: 50% !important; transform: rotate(45deg) translate(0, 50%) !important; }

@media screen and (max-width: 1060px) { #burgerMenu { display: block; } }

.trouble .wrapper { display: flex; flex-direction: column; justify-content: center; }

.trouble-cards { display: grid; grid-template-columns: 1fr 1fr 1fr; }

.trouble-card { background-color: #fff; border: 1px solid #ECEBEB; border-radius: 10px; margin: 15px; padding: 20px; display: flex; flex-direction: column; transition: .2s ease-in-out transform; }

.trouble-card:nth-child(1n) { margin-left: 0; }

.trouble-card:nth-child(3n) { margin-right: 0; }

.trouble-card .text-title { margin-bottom: 10px; }

.trouble-card:hover { transform: translateY(-10px); }

.cardSVG { width: 50px; height: 50px; padding: 8px; border-radius: 50px; margin-bottom: 20px; }

.cardSVG-green { background-color: #E6F9E6; }

.cardSVG-orange { background-color: #FDF3E3; }

.cardSVG-purple { background-color: #FCE3E8; }

.result-blocks { display: grid; grid-template-columns: 1fr 1fr; }

.result-block_left img { width: 100%; height: 100%; min-width: 365px; }

.result-block-right { margin-left: 50px; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }

.result-block-right .text-heading { margin: 0; }

.result-block-right .text-title { margin: 16px 0; }

.result-block-right .text { margin-bottom: 30px; }

.howItWork .how-cards { display: grid; grid-template-columns: 1fr 1fr 1fr; }

.howItWork .how-card { min-width: 300px; border: 1px solid #ECEBEB; padding: 20px; margin: 30px 15px; transition: .2s ease-in-out transform; display: flex; flex-direction: column; }

.howItWork .how-card:nth-child(1) { margin-left: 0; }

.howItWork .how-card:nth-child(3) { margin-right: 0; }

.howItWork .how-card:hover { transform: translateY(-10px); }

.howItWork .how-card .text-title { margin-bottom: 24px; }

.howItWork .how-card svg { height: 100px; margin-bottom: 24px; }

.howItWork .how-card-list { position: relative; left: 12px; }

.howItWork .how-card-list li { list-style: outside; color: #FD576C; margin-bottom: 8px; }

.addiction-block { display: grid; grid-template-columns: 1fr 2fr; align-items: center; }

.addiction_left img { width: 100%; min-width: 320px; transition: .2s ease-in-out transform; }

.addiction_left img:hover { transform: translateY(-10px); }

.addiction_right { display: grid; align-items: flex-start; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; margin-left: 50px; position: relative; top: 20px; }

.addiction_right-card { margin: 15px 30px; display: flex; flex-direction: column; align-items: flex-start; transition: .2s ease-in-out transform; }

.addiction_right-card:hover { transform: translateY(-10px); }

.addiction_right-card-element { font-weight: 700; font-size: 24px; line-height: 24px; padding: 10px; border-radius: 10px; margin-bottom: 24px; }

.addiction_right-greenElem { background-color: #E6F9E6; color: #5DBD6D; }

.addiction_right-purpleElem { background-color: #FCE3E8; color: #F37A92; }

.addiction_right-orangeElem { background-color: #FDF3E3; color: #F0B14E; }

.addiction_right .text-title { margin-bottom: 10px; }

.rate-cards { display: grid; grid-template-columns: 1fr 1fr 1fr; }

.rate-card { margin: 15px; border: 1px solid #ECEBEB; border-radius: 10px; transition: .2s ease-in-out transform; min-width: 350px; }

.rate-card:hover { transform: translateY(-10px); }

.rate-card .selectBtn { background-color: #FD576C; color: #ffffff; font-weight: 600; }

.rate-card .selectBtn:hover { background-color: #ffffff; color: #FD576C; }

.rate-card-header { background-color: #5DBD6D; border-radius: 10px 10px 0 0; padding: 20px; height: 90px; background-image: url(../img/rate-bg1.png); background-position: center; background-repeat: no-repeat; background-size: cover; }

.rate-card-header * { color: #ffffff; }

.rate-card-header_afterSale { font-size: 26px; font-weight: 900; margin-top: 8px; }

.rate-card-header_beforeSale { font-size: 16px; font-weight: 500; text-decoration: line-through; margin-left: 20px; }

.rate-card-list { padding: 20px; }

.rate-card-list li { margin: 14px 0; line-height: 24px; position: relative; left: 16px; }

.rate-card-list li span { position: relative; bottom: 2px; }

.rate-card-list-arrow { list-style-image: url(../img/arrow.svg); }

.rate-card-list-arrow-reverse { list-style-image: url(../img/arrow-reverse.svg); }

.rate-card-list-cross { list-style-image: url(../img/cross.svg); }

.rate-card-list-cross-reverse { list-style-image: url(../img/cross-reverse.svg); }

.rate-card:nth-child(1) { margin-left: 0; }

.rate-card:nth-child(1) .selectBtn:hover { background-color: #FCE3E8; }

.rate-card:nth-child(2) { background-color: #5DBD6D; padding: 20px; background-image: url(../img/rate-bg2.png); background-position: center; background-repeat: no-repeat; }

.rate-card:nth-child(2) * { color: #ffffff; }

.rate-card:nth-child(2) #rate-card-RADN-div-001 { height: 90px; }

.rate-card:nth-child(2) .rate-card-list { padding: 0; }

.rate-card:nth-child(2) .selectBtn { background-color: #ffffff; color: #FD576C; }

.rate-card:nth-child(2) .selectBtn:hover { background-color: #FD576C; color: #ffffff; }

.rate-card:nth-child(3) { margin-right: 0; }

.rate-card:nth-child(3) .selectBtn:hover { background-color: #FCE3E8; }

.review-cards { display: grid; grid-template-columns: 1fr 1fr; }

.review-card { min-width: 350px; margin: 15px; padding: 30px; padding-top: 80px; border: 1px solid #ECEBEB; border-radius: 10px; position: relative; transition: .2s ease-in-out transform; }

.review-card:nth-child(1) { margin-left: 0; }

.review-card:nth-child(2) { margin-right: 0; }

.review-card:hover { transform: translateY(-10px); }

.review-card img { position: absolute; top: -50px; }

.review-card .text { line-height: 24px; }

.review-card .text b { font-weight: 500; }

.review-card-line { width: 100%; height: 2px; background-color: #ECEBEB; margin: 30px 0; }

.review-card-review { display: flex; justify-content: space-between; align-items: center; }

.review-card-review-info * { color: #777575; }

.review-card-review-info b { font-weight: 600; }

.review-card-review-info .text { min-height: 0; }

.generalDiet-blocks { display: flex; margin-bottom: 40px; }

.generalDiet-block-left img { width: 100%; min-width: 400px; }

.generalDiet-block-right { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; max-width: 500px; min-width: 400px; }

.generalDiet-block-right .text, .generalDiet-block-right .text-heading { margin-bottom: 20px; }

.generalDiet-cards { display: grid; grid-template-columns: 1fr 1fr; }

.generalDiet-card { background-color: #fff; border: 1px solid #ECEBEB; border-radius: 10px; margin: 15px; padding: 20px; min-width: 300px; display: flex; flex-direction: column; transition: .2s ease-in-out transform; }

.generalDiet-card:nth-child(1n) { margin-left: 0; }

.generalDiet-card:nth-child(3n) { margin-right: 0; }

.generalDiet-card .text-title { margin-bottom: 10px; }

.generalDiet-card:hover { transform: translateY(-10px); }

.getMore-blocks { display: flex; }

.getMore-block-left { display: flex; flex-direction: column; justify-content: center; min-width: 300px; align-items: flex-start; }

.getMore-block-left .text { margin-bottom: 30px; }

.getMore-block-right img { width: 100%; }

.footer { border-top: 2px solid #ECEBEB; display: flex; flex-direction: column; justify-content: center; }

.footer-inner { display: flex; flex-direction: column; align-items: center; margin: 40px 0; }

.footer-inner .header_logo { margin-bottom: 24px; }

.footer-inner .header-nav { display: flex; flex-wrap: wrap; justify-content: center; margin-bottom: 24px; }

#copyright { font-family: Arial, Helvetica, sans-serif; text-align: center; }

#copyright span { color: #FD576C; }

#copyright { font-size: 14px; text-align: center; font-size: 14px; color: #A5AAAF; padding: 24px; }

#copyright b { font-size: 14px; font-weight: 700; color: #A5AAAF; }

@media screen and (max-width: 1200px) { .rate-cards { grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 1074px) { .how-cards { grid-template-columns: 1fr 1fr !important; }
  .how-card { margin: 15px !important; }
  .addiction-block { grid-template-columns: 1fr; justify-items: center; }
  .addiction_right { margin: 0; grid-template-columns: 1fr; grid-template-rows: 1fr 1fr 1fr 1fr; } }

@media screen and (max-width: 1060px) { #header nav { display: none; } }

@media screen and (max-width: 900px) { .generalDiet-blocks { flex-direction: column; min-width: 300px; max-width: 500px; }
  .generalDiet-block-right { min-width: 300px; }
  .getMore-blocks { flex-direction: column-reverse; flex-wrap: wrap; }
  .getMore-block-left .text, .getMore-block-left .text-heading { margin-bottom: 16px; } }

@media screen and (max-width: 780px) { #header-content-block { flex-direction: column-reverse; margin-bottom: 80px; }
  #header-content-block img { position: relative; left: -60px; }
  .trouble { padding: 50px 0; }
  .trouble-cards { grid-template-columns: 1fr 1fr; }
  .result-blocks { display: grid; grid-template-columns: 1fr; }
  .result-block-right { margin-left: 0; }
  .result-block-right .text-heading { margin-top: 32px; }
  .trouble-card:nth-child(1n) { margin-left: 15px; }
  .trouble-card:nth-child(3n) { margin-right: 15px; }
  .how-cards { grid-template-columns: 1fr !important; }
  .rate-cards { grid-template-columns: 1fr; }
  .review-cards { grid-template-columns: 1fr; }
  .review-card { min-width: 300px; }
  .review-card:nth-child(1) { margin-left: 0; margin-top: 40px; }
  .review-card:nth-child(2) { margin-left: 0; margin-top: 80px; } }

@media screen and (max-width: 650px) { .trouble-cards { grid-template-columns: 1fr; }
  .rate-card { min-width: 300px; }
  .rate-card:nth-child(1) { margin-left: 15px; }
  .rate-card:nth-child(3) { margin-right: 15px; }
  .generalDiet-block-left img { min-width: 300px; }
  .generalDiet-cards { grid-template-columns: 1fr; } }
