.wrapper { max-width: 1170px; min-width: calc(320px - calc(24px * 2)); padding: 0 24px; margin: 0 auto; height: auto; }

.uv-burger-btn { z-index: 999; display: none; width: 30px; height: 18px; cursor: pointer; position: relative; }

.uv-burger-btn span, .uv-burger-btn::before, .uv-burger-btn::after { content: ''; position: absolute; left: 0; height: 2px; width: 100%; transition: .3s ease-in-out; background-color: #F16214; }

.uv-burger-btn::before { top: 0; }

.uv-burger-btn::after { bottom: 0; }

.uv-burger-btn span { top: 50%; transform: scale(1) translate(0, -50%); }

.uv-burger-btn-transition span { transform: scale(0) translate(0, -50%); }

.uv-burger-btn-transition::before { top: 50%; transform: rotate(-45deg) translate(0, -50%); background-color: #F16214; }

.uv-burger-btn-transition::after { bottom: 50%; transform: rotate(45deg) translate(0, 50%); background-color: #F16214; }

.uv-burger-menu { display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; transition: all .3s ease-in-out; transform: translate(-100%, 0); }

.uv-burger-menu-opened { transform: translate(0, 0); }

.uv-burger-menu-wrapper { max-width: 320px; min-height: 100%; margin: 0 auto; padding: 16px; display: flex; flex-direction: column; }

.uv-burger-menu .uv-burger-btn { position: absolute; top: 13px; right: 24px; }

.uv-burger-body-locked { overflow: hidden; }

@media screen and (max-width: 728px) { .uv-burger-btn { display: block; } }

.uv-card { min-width: 300px; text-align: center; }

.uv-card-container-flex { display: flex; justify-content: space-between; flex-wrap: wrap; }

.uv-card-container-flex .uv-card { flex: 1 0 0%; margin: 24px; }

.uv-card-container-grid { display: grid; }

.uv-card-container-grid .uv-card { width: 100%; height: 100%; }
