@font-face { font-family: 'productsans'; src: url(../fonts/productsans.ttf); src: url(../fonts/productsans.woff); src: url(../fonts/productsans.woff2); }

.text { font-family: 'productsans', sans-serif; font-size: 16px; font-weight: 400; color: #000000; transition: .2s ease-in-out color, font-weight; }

.text-light { color: #888888; line-height: 24px; }

.text-white { color: #ffffff; }

.text-hero { font-size: 75px; font-weight: 700; color: #ffffff; margin-bottom: 16px; max-width: 480px; }

.text-heading span { font-size: 14px; font-weight: 700; color: #F16214; margin-bottom: 8px; letter-spacing: .8px; }

.text-heading h2 { font-size: 40px; font-weight: 700; }

.text-title { font-size: 26px; font-weight: 700; line-height: 32px; }

.text-bold { font-weight: 700; letter-spacing: .8px; }

.r-btn { background-color: #F16214; border-radius: 120px; padding: 8px 16px; transition: .3s ease-in-out background-color; }

.r-btn-large { padding: 14px 0 14px 16px; transition: .5s ease-in-out width; width: 124px; height: 50px; display: flex; align-items: center; position: relative; }

.r-btn-large svg { transition: .5s ease-in-out; width: 40px; height: 40px; background-color: #ffffff; border-radius: 120px; padding: 14px 16px; position: absolute; transform: translateX(32px); opacity: 0; }

.r-btn-large svg path { fill: #F16214; }

.r-btn-large:hover { width: 170px; }

.r-btn-large:hover svg { transform: translateX(106px); opacity: 1; }

.r-btn:hover { background-color: rgba(241, 98, 20, 0.15); }

.r-btn:hover .text { color: #F16214; }

.r-socials { display: flex; justify-content: space-between; max-width: 230px; }

.r-socials_item { width: 40px; height: 40px; background-color: rgba(241, 98, 20, 0.15); border-radius: 120px; display: flex; align-items: center; justify-content: center; transition: .2s ease-in-out background-color; }

.r-socials_item path { transition: .2s ease-in-out fill; fill: #F16214; }

.r-socials_item:hover { background-color: #F16214; }

.r-socials_item:hover svg path { fill: #ffffff; }

.r-input { position: relative; }

.r-input input { width: 100%; height: 60px; border-radius: 14px; padding-left: 18px; }

.r-input input, .r-input input::placeholder { font-family: 'productsans', sans-serif; font-size: 14px; color: #CCCCCC; }

.r-input button { position: absolute; top: 5px; right: 5px; padding: 14px 22px; background-color: #F16214; border-radius: 14px; transition: .2s ease-in-out all; }

.r-input button .text { text-transform: uppercase; }

.r-input button:hover { background-color: rgba(241, 98, 20, 0.15); }

.r-input button:hover span { color: #F16214; }

.anchor { position: relative; bottom: calc(45px + 100px); }

#copyright { text-align: center; font-size: 14px; color: #A5AAAF; padding: 24px; }

#copyright b { font-size: 14px; color: #A5AAAF; }

section:not(.s-1) { padding: 50px 0; }

.header-menu { background-color: #fff; z-index: 10; height: 45px; position: fixed; width: 100%; }

.header-menu .wrapper { display: flex; justify-content: space-between; align-items: center; }

.header-menu-nav .nav_item { padding: 0 8px; }

.header-menu-nav .nav_item:hover { color: #F16214; }

.header-body { padding-top: 45px; background-image: url(../img/black-bg.png); background-position: right; background-repeat: no-repeat; background-size: initial; position: relative; height: auto; margin-bottom: 100px; }

.header-body .wrapper { margin-top: 170px; }

.header-body .text-light { margin-bottom: 40px; max-width: 570px; }

.header-body .r-btn-large { margin-bottom: 40px; }

.header-body .r-socials { padding-bottom: 10px; }

.header-body-sushi { position: absolute; top: -10%; right: -10%; transition: .2s ease-in-out opacity; opacity: 1; z-index: 1; }

.header-body *:not(.header-body-sushi) { z-index: 5; }

.s-1 { margin-bottom: 160px; }

.s-1 .uv-card { padding: 30px 0; }

.s-1 .uv-card-container-flex { background: #FFFFFF; box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07); border-radius: 60px 0px; }

.s-1 .uv-card svg { width: 40px; height: 40px; background-color: #F16214; border-radius: 120px; padding: 10px; margin-bottom: 16px; }

.s-1 .uv-card svg path { fill: #ffffff; }

.s-1 .uv-card .text:not(.text-light) { margin-bottom: 6px; }

.s-1 .uv-card:nth-child(2) { border-left: 2px solid #DDDDDD; border-right: 2px solid #DDDDDD; }

.s-2 { position: relative; }

.s-2-mainPic { position: absolute; top: -120px; z-index: -1; opacity: 1; transition: .2s ease-in-out opacity; }

.s-2 .wrapper { margin-left: 60%; }

.s-2 .text-light { margin: 46px 0 24px; }

.s-3 .text-heading { text-align: center; margin-bottom: 60px; }

.s-3 .uv-card { border: 2px solid #EEEEEE; border-radius: 60px 0px; padding: 70px 20px; transition: .2s ease-in-out all; }

.s-3 .uv-card svg { width: 80px; height: 80px; background-color: rgba(241, 98, 20, 0.15); padding: 24px; border-radius: 120px; margin-bottom: 44px; }

.s-3 .uv-card .text-title { margin-bottom: 22px; }

.s-3 .uv-card:hover { background-color: #FFFFFF; box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1); border-color: #fff; }

.s-4 .text-heading { margin-bottom: 40px; text-align: center; }

.s-4 .uv-card { transition: .2s ease-in-out all; border: 2px solid #EEEEEE; border-radius: 50px 0px; padding: 290px 20px 20px; max-width: 370px; min-width: 370px; max-height: 420px; min-height: 420px; position: relative; }

.s-4 .uv-card-container-grid { grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr); grid-column-gap: 32px; grid-row-gap: 32px; justify-items: center; margin-bottom: 60px; }

.s-4 .uv-card:hover { background-color: #FFFFFF; box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1); border-color: #fff; }

.s-4 .uv-card-image { position: absolute; top: -2px; left: -2px; }

.s-4 .uv-card-descr { display: flex; flex-direction: column; justify-content: space-between; height: 100%; }

.s-4 .uv-card-t { display: flex; justify-content: space-between; }

.s-4 .uv-card-t .text { font-size: 20px; }

.s-4 .uv-card-t-rate { display: flex; align-items: center; }

.s-4 .uv-card-t-rate svg { margin-right: 6px; }

.s-4 .uv-card-t-rate .text { font-size: 12px; }

.s-4 .uv-card-b { display: flex; justify-content: space-between; align-items: center; }

.s-4 .uv-card-b .text { font-size: 20px; }

.s-4 .uv-card-b .r-btn-small span { font-size: 14px; }

.s-4 .r-btn-large { margin: 0 auto; width: 170px; }

.s-4 .r-btn-large:hover { width: 210px; }

.s-4 .r-btn-large:hover svg { transform: translateX(146px); }

.s-5 .wrapper { display: flex; flex-direction: column; justify-content: center; align-items: center; }

.s-5-block { background-image: url(../img/black-bg.png); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; display: flex; flex-direction: column; align-items: center; width: 100%; border-radius: 60px 0; padding: 80px 32px; }

.s-5-block h2 { font-size: 40px; margin-bottom: 50px; }

.s-5-block-downloadApp svg:nth-child(1) { margin-right: 20px; }

.s-6 .text-heading { text-align: center; }

.s-6 .uv-card:nth-child(1) { display: flex; flex-direction: column; align-items: center; justify-content: center; }

.s-6 .uv-card-author { display: flex; align-items: center; margin-bottom: 54px; }

.s-6 .uv-card-author img { margin-right: 16px; }

.s-6 .uv-card .text-light { margin-bottom: 34px; }

.s-6 .uv-card-btns button { width: 50px; height: 50px; border-radius: 10px; background-color: #ffffff; border: 2px solid #EEEEEE; }

.s-6 .uv-card-btns button * { transition: .2s ease-in-out all; }

.s-6 .uv-card-btns button:nth-child(1) { margin-right: 30px; }

.s-6 .uv-card-btns button:hover { border-color: #F16214; background-color: #F16214; }

.s-6 .uv-card-btns button:hover svg path { fill: #ffffff; }

.s-6 .uv-card-btns button:hover svg line { stroke: #ffffff; }

.s-7-block { background-image: url(../img/black-bg.png); background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; display: flex; flex-direction: column; align-items: center; width: 100%; border-radius: 60px 0; padding: 80px 0; }

.s-7-block-wrapper { max-width: 500px; margin: 0 auto; }

.s-7-block-wrapper h2 { font-size: 40px; margin-bottom: 16px; }

.s-7-block-wrapper .text-light { margin-bottom: 34px; }

.footer { background-color: #F5F5F5; padding: 100px 0 32px; }

.footer-t .uv-card { text-align: left; }

.footer-t .uv-card .logo-foodBill { margin-bottom: 36px; }

.footer-t .uv-card .text-title { margin-bottom: 36px; font-size: 22px; }

.footer-t .uv-card-container { justify-content: center; }

.footer-t .uv-card-nav { display: flex; flex-direction: column; }

.footer-t .uv-card-nav .nav_item { font-size: 16px; padding: 8px 0; color: #888888; }

.footer-t .uv-card-nav .nav_item:hover { color: #F16214; }

.footer-t .uv-card:nth-child(1) .text-light { margin-bottom: 32px; }

.footer-t .uv-card:nth-child(1) .r-socials { max-width: none; }

.footer-t .uv-card:nth-child(1) .r-socials a { margin: 0 12px; }

.footer-t .uv-card:nth-child(2) .text-light { padding: 4px; }

.footer-t .uv-card:nth-child(4) { display: flex; flex-direction: column; align-items: center; }

.footer-t .uv-card:nth-child(4) .text-light { padding: 4px; }

.footer-t .uv-card:nth-child(4) .text-light:nth-child(4) { margin-bottom: 20px; }

.footer-t .uv-card:nth-child(4) .r-input { width: 270px; }

.footer-b { text-align: center; }

.footer-b #footer-line { width: 100%; height: 2px; display: block; background-color: #DDDDDD; margin-bottom: 24px; }

.uv-burger-btn { position: absolute; }

.uv-burger-menu-wrapper { justify-content: space-around; }

.uv-burger-menu-nav { display: flex; flex-direction: column; align-items: center; }

.uv-burger-menu-nav .nav_item { font-size: 24px; padding: 8px; }

.uv-burger-menu .r-btn-small { text-align: center; }

@media screen and (max-width: 1260px) { .header-body-sushi { opacity: .4; }
  .s-4 .uv-card-container-grid { grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 1110px) { .s-1 .uv-card:nth-child(2) { border-right: none; }
  .s-2-mainPic { opacity: .5; }
  .s-2 .wrapper { margin-left: 30%; }
  .footer-t .uv-card:nth-child(4) { display: flex; flex-direction: column; align-items: flex-start; }
  .footer-t .uv-card:nth-child(4) .r-input { width: 270px; } }

@media screen and (max-width: 840px) { .s-4 .uv-card-container-grid { grid-template-columns: 1fr; } }

@media screen and (max-width: 760px) { .s-1 .uv-card:nth-child(2) { border: none; }
  .footer-t .uv-card:nth-child(1) .text-light { text-align: center; }
  .footer-t .uv-card, .footer-t .uv-card:nth-child(4) { display: flex; flex-direction: column; align-items: center; } }

@media screen and (max-width: 728px) { .header-menu-nav, .header-menu .r-btn { display: none; }
  .uv-burger-menu { z-index: 900; }
  .s-2 .wrapper { margin-left: 0; }
  .s-5-block { text-align: center; }
  .s-5-block-downloadApp { display: flex; flex-direction: column; align-items: center; }
  .s-5-block-downloadApp svg:nth-child(1) { margin-bottom: 8px; }
  .s-7-block-wrapper { max-width: 320px; } }

@media screen and (max-width: 460px) { .s-7-block-wrapper { max-width: none; padding: 0 22px; }
  .s-7-block-wrapper-input button { position: relative; top: 0; right: 0; margin-top: 12px; } }
