.uv {
    &-card {
        &-container {
            &-flex {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .uv-card {
                    flex: 1 0 0%;
                    margin: $uv-card-margin;
                }
            }
        }

        min-width: $uv-card-minWidth;
        text-align: $uv-card-textAlign;
    }
}