//* Your scss variables.
$c-sucess: #68f4b9;
$c-error: #f55d66;
$c-links: #49aff9;

$c-primary: #0e1c4c;
$c-cta: #32ad67;
$c-accent: #5262ee;

$c-white: #ffffff;
$c-subtitle: #3c3e5f;

$c-9: #0b0e37;
$c-8: #9699ab;
$c-7: #e0e3e9;
$c-6: #f1f3f6;
$c-5: #f7f8fc;