.footer {
  background-color: $c-5;
  padding-top: 130px;

  &-top {
    margin-bottom: 50px;
    gap: 24px;

    &_logo {
      .t {
        font-family: 'Allerta Stencil', sans-serif;
        font-size: rem(22);
        line-height: 155%;
        color: #000;
        text-transform: uppercase;
      }
    }

    &_nav {
      display: flex;
      flex-direction: column;
    }

    .nav {
      &-title {
        font-weight: 700;
        margin-bottom: 20px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid $c-7;

    .t {
      &-b-s {
        color: rgba($color: #07132C, $alpha: .6);
      }
    }

    .menu {
      &-list {
        display: flex;
        gap: 40px;
      }

      &-item {
        .t {
          color: #07132C;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .footer {
    &-bottom {
      flex-direction: column;
      gap: 24px;
      align-items: center;
    }
  }
}